body {
    font-family: Poppins;
    font-style: normal;
}
body>div {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #5E7AE0;
}
.header-container {
    width: 80%;
    margin: 37px auto 0px;
    background-color: transparent;
    
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    display: flex;
    color: #ffff;
}
.logoname {
    height: 27px;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    font-family: Poppins;
}
.text {
    font-size: 14px;
    line-height: 21px;
    color: #ffff;
    margin-left: 30px;
}
.right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.headings {
    line-height: normal;
    display: flex;
    flex-direction: column;
    margin: 78px 0px 150px 0;
}
.heading-text {
    font-weight: bold;
    font-size: 48px;
    color: #ffff;
}
.desc {
    font-weight: normal;
    font-size: 20px;
    color: #ffff
}

section {
    width: 100%;
    background-color:#EAEAEA;
    position: relative;
}
.searchcont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffff;
    height: 50px;
    width: 50%;
    margin: auto;
    position: absolute;
    
}
span{
    font-size: 16px;
}
.selectopt {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.searchbutton > button {
    font-weight: 600;
    font-size: 16px;
    border: 1px solid red;
    outline: none;
    color: #ffff;
    height: 30px;
    width: 100px;
    background-color: red;
    border-radius: 5px;
}
.card-container {
    width: 80%;
    margin: 50px auto 0px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    width: 42%;
    padding: 15px;
    background: #ffff;
    border-radius: 10px;
    margin: 15px;
}
.img-cont {
    display: flex;
    align-items: center;
}
.img-div {
    width: 150px;
    height: 150px;
    background: #C4C4C4;
    border-radius: 16px;
    margin-right: 10px;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.designation {
    font-weight: 500;
    font-size: 24px;
}
.desg-details {
    font-weight: 500;
    font-size: 14px;
}
.button {
    display: flex;
    justify-content: flex-end;
}
.button > button {
    border: 1px solid red;
    color: red;
    height: 40px;
    width: 120px;
    border-radius: 3px;
}